/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš vyzobnout a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis
	--mujnazev: hodnota
	Když chci, abych mohl hodnotu používat všude v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom dál v CSS hodnotu použít, stačí použít funkci var a v závorce název proměnné.Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/

/* hlavicka */
header h1 {
	font-size: 80px;
	color: var(--limetka);
	margin-bottom: 40px;
}

header .meta {
	font-size: 16px;
	color: var(--seda);
}

/*	odstavce*/
p {
	margin-top: 0;
}

/* tip */

.tip {
	background-color: var(--svetla);
	font-size: 16px;
	padding: 20px;
	color: var(--tmava);
	margin: 0;
}
.tip p {
	margin: 0;
}
.tip a {
	color: var(--oranzova);
}
.tip-vlevo {
	border-right: 2px solid var(--zluta);
	text-align: right;
}
.tip-vpravo {
	border-left: 2px solid var(--zluta);
	text-align: left;
}

.tip-vlevo img {
	max-width: 100px;
}

/* figure */
figure {
	margin: 0;
	margin-bottom: 40px;
}
figure img {
	max-width: 100%;
}
figcaption {
	font-size: 16px;
	color: var(--seda);
}

/*	nadpisy */
h2 {
	font-size: 60px;
	color: var(--limetka);
	margin-bottom: 20px;
}

/*	citaty  */
blockquote {
	font-size: 40px;
	color: var(--seda);
	text-align: center;
}

blockquote::after, blockquote::before {
    content:"";
    display: block;
    width: 150px;
    height: 3px;
    background-color: var(--limetka);        
}

blockquote::after {
	margin: 20px auto 0 auto;          
}

blockquote::before {
	margin: 0 auto 20px auto;          
}

/*	paticka */
footer, footer a {
	font-size: 16px;
	color: var(--seda);
}

/*	grid */
.blog {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	column-gap: 40px;
}

header, p, footer {
	grid-column: 2;
}

figure {
	grid-column: 1 / -1;
}

.tip {
	align-self: center;
}
.tip-vlevo {
	grid-column: 1;
}

blockquote {
	grid-column: 1 / -1;
}

h2 {
	grid-column: 2;
}
